#root {
  background-color: #242424;
  
}

.homepage {
  text-align: center;
  padding: 20px;
  color: white;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie-card{
  width: 200px;
  background-color: #070707;
  padding: 10px;
  margin-bottom: 20px; 
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  min-height: 350px; 
}

.movie-card img {
  width: 100%;
  border-radius: 4px;
}

.movie-card h3 {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 600;
  min-height: 50px; /* Ensure title area is of consistent height */
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit to 2 lines */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; /* Hide extra text */
  text-overflow: ellipsis; /* Add ellipsis (...) for long text */
}

.movie-card p {
  font-size: 14px;
  color: #555;
}

.home-page {
  text-align: center;
  padding: 20px;
  color: white;
}

h2{
  margin-bottom: 20px;
  font-size: 24px;
  color: #fafafa;
}

.heading{
  color: white;
}

.nav-link {
  color: rgb(255, 255, 255) !important; 
}


.nav-link:hover {
  color: gray !important;
}

.movie-detail{
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 50px;
  color: white;
  /* display: flex; */
}

.movie-detail img{
  float: left;
  margin-right: 20px;
}

.movie-detail div{
  margin-left: 20px;
}

.movie-detail p{
  font-size: 19px;
  color: rgb(216, 214, 214) ;
}

.movie-detail h2{
  font-size: 42px;
  
}
















