
.nav-link {
    color: rgb(255, 255, 255) !important; 
  }
  
  
  .nav-link:hover {
    color: gray !important;
  }

  .btn-outline-success {
    color: #28a745;
    border-color: #28a745;
  }
  
  .btn-outline-success:hover {
    background-color: #28a745;
    color: white;
  }
  